<div class="mdl-grid standard-max-width">        
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">          
        <div class="mdl-grid standard-copy">            
        <div class="mdl-cell mdl-cell--12-col">              
            <img src="/images/doobry-256-onwhite.png" alt="doobry">              
        </div>
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">doobry, the SQL editor for Azure DocumentDb</h3>
        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
            <p>
                doobry is a NoSQL development and administration tool for Azure DocumentDb.
            </p>
            <p>
                It is open source, and free to use, working on Windows 7, 8 and 10.
            </p>
            <a class="setup-download-doobry">Download Installer</a>
        </div>            
        <div class="mdl-cell mdl-cell--6-col">
            <a href="/images/screen-query-runner.png">
            <img class="article-image" src="/images/screen-query-runner-500.png" border="0" alt="Main SQL Window">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
            <a class="github-button" href="https://github.com/ButchersBoy/doobry" data-icon="octicon-star" data-style="mega" data-count-href="/ButchersBoy/doobry/stargazers" data-count-api="/repos/ButchersBoy/doobry#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ButchersBoy/doobry on GitHub">Star
            </a>              
        </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">          
        <div class="mdl-grid standard-copy">            
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Slick and Simple, but Feature Rich</h3>
        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
            <p>
                Easily work with documents in your collections:
            </p>
            <ul>
                <li>Add</li>
                <li>Edit</li>
                <li>Delete</li>
            </ul>                
        </div>            
        <div class="mdl-cell mdl-cell--6-col">
            <a href="/images/screen-document-editor.png">
            <img class="article-image" src="/images/screen-document-editor-500.png" border="0" alt="Document Editor">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
            <p>
                Manage and query against multiple databases/collections.
            </p>
        </div>            
        <div class="mdl-cell mdl-cell--6-col">
            <a href="/images/screen-manage-collections.png">
            <img class="article-image" src="/images/screen-manage-collections-500.png" border="0" alt="Document Editor">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
            <p>
                Harness the power of Windows to work with multiple collections at once:
            </p>
            <ul>
                <li>Tearable tabs</li>
                <li>Simple docking</li>
                <li>Layout persistance</li>
            </ul>
        </div>            
        <div class="mdl-cell mdl-cell--6-col">
            <a href="/images/screen-side-by-side.png">
            <img class="article-image" src="/images/screen-side-by-side-500.png" border="0" alt="Document Editor">
            </a>
        </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">          
        <div class="mdl-grid standard-copy">                    
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Open Source</h3>
        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
            <p>
            doobry is fully open source; a C# application written by the same developer of, and utilizing <a href="https://github.com/ButchersBoy/MaterialDesignInXamlToolkit">Material Design in XAML Toolkit</a>
            and <a href="https://github.com/ButchersBoy/Dragablz">Dragablz</a>.
            <p>
            <p>
            The full source for doobry can be found <a href="https://github.com/ButchersBoy/doobry">on GitHub</a>.
            </p>              
            <a class="github-button" href="https://github.com/ButchersBoy/doobry" data-icon="octicon-star" data-style="mega" data-count-href="/ButchersBoy/doobry/stargazers" data-count-api="/repos/ButchersBoy/doobry#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ButchersBoy/doobry on GitHub">Star
            </a>
        </div>
        </div>        
    </div>

</div>