<div class="mdl-grid standard-max-width">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">                               
        <div>
            <div class="mdl-card__title header-card-title" >
                <div class="header-card__header-container">
                    <img src="./images/MD4XAML.png" class="title-image">                                                        
                    <div class="header-card__supporting-text">
                        <h2 class="mdl-card__title-text">Version 2.3.0 Released</h2>                    
                        <p>
                            Version 2.3.0 Now Available!
                        </p>
                        <p>
                            With Material Design In XAML Toolkit you can easily bring bring beautiful desktop applications to life, using a modern and popular design language.
                        </p>
                        <p>
                            Fully open source and one of the most popular GUI libraries for WPF, the library is also compatible with MahApps and Dragablz.
                        </p>
                        <a class="github-button" href="https://github.com/ButchersBoy/MaterialDesignInXamlToolkit" data-icon="octicon-star" data-style="mega" data-count-href="/ButchersBoy/MaterialDesignInXamlToolkit/stargazers" data-count-api="/repos/ButchersBoy/MaterialDesignInXamlToolkit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Material Design In XAML on GitHub">Star
                        </a>                        
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>