<div class="mdl-grid standard-max-width">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">                               
        <div>
            <div class="mdl-card__title header-card-title" >
                <div class="header-card__header-container">
                    <img src="./images/MD4XAML.png" class="title-image">                                                        
                    <div class="header-card__supporting-text">
                        <h2 class="mdl-card__title-text"><a hef="#2_3_0">Version 2.3.0 Released</a></h2>                    
                        <p>
                            Version 2.3.0 Now Available!
                        </p>
                        <ul>
                            <li><a href="https://www.nuget.org/packages/MaterialDesignThemes/"><code>Install-Package MaterialDesignThemes</code></a></li>
                            <li><a href="https://github.com/ButchersBoy/MaterialDesignInXamlToolkit/releases/tag/v2.3.0">GitHub release notes</a></li>                            
                        </ul>                        
                    </div>                    
                    <div class="mdl-grid standard-copy">
                        <p>
                        Material Design In XAML 2.3.0 is out now, including the following new features:   
                    </p>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                Cards...or indeed any XAML content can easily be flipped using the new <code>Flipper</code> control and <code>MaterialDesignCardFlipper</code> style.
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a href="https://github.com/MaterialDesignInXAML/Website/blob/resources/releases/2_3_0/CardFlipAnimation.gif">
                            <img width="190" height="241" src="https://raw.githubusercontent.com/MaterialDesignInXAML/Website/resources/releases/2_3_0/CardFlipAnimation10fps.gif" border="0" alt="Flippable Cards">
                            </a>
                        </div>
                    </div>
                    <div class="mdl-grid standard-copy">
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                Buttons or other XAML content can easily be badges using the new <code>Badged</code> control.
                            </p>
                            <p>
                                Badges can contain any content, from counters to <code>PackIcon</code> instances.
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a href="https://github.com/MaterialDesignInXAML/Website/blob/resources/releases/2_3_0/BadgeAnimation.gif">
                            <img width="190" height="136" src="https://raw.githubusercontent.com/MaterialDesignInXAML/Website/resources/releases/2_3_0/BadgeAnimation.gif" border="0" alt="Badges">
                            </a>
                        </div>
                    </div>
                    <div class="mdl-grid standard-copy">
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                Toolbar theme has been improved and supports badges.
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a href="https://github.com/MaterialDesignInXAML/Website/blob/resources/releases/2_3_0/Toolbar.png">
                            <img width="190" height="41" src="https://raw.githubusercontent.com/MaterialDesignInXAML/Website/resources/releases/2_3_0/Toolbar.png" border="0" alt="Badges">
                            </a>
                        </div>
                    </div>

                    <div class="mdl-grid standard-copy">
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                We have a ListView.GridView style (to accompany the existing DataGrid style).
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a href="https://github.com/MaterialDesignInXAML/Website/blob/resources/releases/2_3_0/ListViewGridView.png">
                            <img width="190" height="47" src="https://raw.githubusercontent.com/MaterialDesignInXAML/Website/resources/releases/2_3_0/ListViewGridView.png" border="0" alt="Badges">
                            </a>
                        </div>
                    </div>


                    
                </div>                    
            </div>
        </div>
    </div>
</div>