<div class="mdl-grid standard-max-width">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
        <div class="header-card__supporting-text">
            <p>
                "Google gave us the most comprehensive universal GUI spec to date but without this toolkit and amazing community support, this wouldn’t be possible on native Windows applications.
            </p>
            <p>
                Ever since I found Material Design XAML Toolkit, I have an entirely new outlook on application design.  I started paying attention to littlest details and the end result always looks unlike anything you will find in your current work environment.
            </p>
            <p>
                The best part is that you don’t have to learn anything new in XAML and yet controls are highly customizable and the theming engine is as basic as it can get."
            </p>
            <p>
                Sergey Bebenin<br />Evolv Technoloy<br /><a href="https://www.linkedin.com/in/sergey-bebenin-a832871?trk=hp-identity-name">Linked In</a>
            </p>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
        <div class="header-card__supporting-text">
            <p>
                "As a small company developing vertical solutions, often substance steals time to graphical aspect care, leading to a poor user experience.
This until we met Material Design in XAML.
            </p>
            <p>
                We can now adopt cool and modern UI style to our desktop applications without spend much effort to define complex styles to our controls.
Material Design in XAML is rich of awesome features and frequently updated with new ones thanks to a solid and careful maintenance by the author."
            </p>
            <div class="quote-details-wrapper"> 
                <div class="quote-details">
                    Giacomo Galletto<br /><a href="http://laspeziaportservice.it">La Spezia Port Service</a> 
                </div>
                <img class="quote-details-picture" src="/images/testimonial-laspezia.png">
            </div>            
        </div>
    </div>
</div>
