html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.code {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 8px;  
  margin-bottom: 16px;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

#gitHubStarMain {
  display: inline;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  
  #gitHubStarMain {
    display: none;       
  }
}

.standard .mdl-layout__tab-bar-container {
  height: 64px;
}

.standard .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.standard .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

.standard main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.standard-max-width {
  max-width: 900px;
  margin: auto;
}

.standard-copy {
  max-width: 700px;
}

.mdl-card .title-image {   
  width: 128px;
  padding: 0;
  height: auto;
}

img.article-image {
  width: 100%;
  padding: 0;
  height: auto;
}

.header-card__header-container {
  width: 100%;  
  align-items : center;
}

.header-card__header-container .mdl-card__title-text {
  color: rgba(0, 0, 0, 1);     
  margin-bottom: 16px;
}

.header-card__supporting-text {
    color: rgba(0, 0, 0, .54);    
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;    
    float: none;
    display: block;
}

@media (min-width: 600px) {
  
  .header-card-title img {   
    float: left;  
  }
}

.full-text { 
  width: auto;
}

.article-card > .mdl-card__supporting-text {
  margin: 0px 16px;
}

.bullet:before {
  content:"• ";
}

.no-background {
  background-color: transparent
}

.no-left-padding {
    padding-left: 0;
}

.no-padding {
    padding: 0;
}

.card-alt-area  {
  color: #fff;
  background: #46B6AC;
  padding: 16px;  
}

.card-alt-area > .mdl-card__supporting-text {
  color: #fff;
} 

.card-alt-area a {
  color: #fff
}

.quote-details-wrapper { display: table-row; }
.quote-details-picture {
  display: table-cell; 
  vertical-align: top; 
  margin-left: 16px;
}
.quote-details { display: table-cell; vertical-align: bottom; }